@mixin buttonfont {
    font-family: Nunito, sans-serif;
    font-size: large;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

@mixin buttonstyle {
    background-color: #f2f2f2;
    padding: 10%;
    border-radius: 10px;
}

@mixin buttonStyleColour {
    background-color: #fdc384;
    padding: 10%;
    border-radius: 10px;
    color: white;
}

@mixin buttonspace {
    display: flex;
    justify-content: space-around;
}
