* {
  padding: 0;
  margin: 0;
}

.body-grid {
  display: grid;
  grid-template-areas: "out out out out" "seven eight nine div" "four five six product" "one two three minus" "nill deci plus equal" "bkspc clr clr equal";
  border-radius: 20px;
  background-color: #595959;
  grid-template-columns: 5vw 5vw 5vw 5vw;
  grid-template-rows: 10vw 5vw 5vw 5vw 5vw 5vw;
  margin: 3%;
  max-width: 20.5vw;
}
.body-grid__output {
  grid-area: out;
  border: 6px solid rgba(0, 0, 0, 0.186);
  border-radius: 20px;
  background-color: #cfe0cf;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.body-grid__button7 {
  grid-area: seven;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}
.body-grid__button7--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button7--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__buttondivide {
  display: flex;
  justify-content: center;
}
.body-grid__buttondivide--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__buttondivide--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__button9 {
  display: flex;
  justify-content: center;
}
.body-grid__button9--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button9--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__button8 {
  display: flex;
  justify-content: center;
}
.body-grid__button8--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button8--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__button6 {
  grid-area: six;
  display: flex;
  justify-content: center;
}
.body-grid__button6--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button6--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__button5 {
  grid-area: five;
  display: flex;
  justify-content: center;
}
.body-grid__button5--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button5--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__button4 {
  grid-area: four;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}
.body-grid__button4--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button4--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__button3 {
  grid-area: three;
  display: flex;
  justify-content: center;
}
.body-grid__button3--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button3--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__button2 {
  grid-area: two;
  display: flex;
  justify-content: center;
}
.body-grid__button2--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button2--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__button1 {
  grid-area: one;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}
.body-grid__button1--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button1--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__button0 {
  grid-area: nill;
  display: flex;
  justify-content: center;
  margin-left: 5px;
}
.body-grid__button0--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__button0--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__buttonDeci {
  grid-area: deci;
  display: flex;
  justify-content: center;
}
.body-grid__buttonDeci--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__buttonDeci--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__buttonPlus {
  grid-area: plus;
  display: flex;
  justify-content: center;
}
.body-grid__buttonPlus--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__buttonPlus--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__buttonMultiplication {
  grid-area: product;
  display: flex;
  justify-content: center;
}
.body-grid__buttonMultiplication--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__buttonMultiplication--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__buttonSubtraction {
  grid-area: minus;
  display: flex;
  justify-content: center;
}
.body-grid__buttonSubtraction--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
}
.body-grid__buttonSubtraction--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__buttonEqual {
  grid-area: equal;
  display: flex;
  justify-content: center;
}
.body-grid__buttonEqual--standard--orange {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #fdc384;
  padding: 0;
  border-radius: 10px;
  color: white;
  width: 80%;
  height: 80%;
}
.body-grid__buttonEqual--standard--orange:hover {
  background-color: rgba(253, 195, 132, 0.8156862745);
}
.body-grid__buttonBkspc {
  grid-area: bkspc;
  display: flex;
  justify-content: center;
}
.body-grid__buttonBkspc--standard {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  padding: 0;
  margin-left: 5px;
}
.body-grid__buttonBkspc--standard:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}
.body-grid__buttonClr {
  grid-area: clr;
  display: flex;
  justify-content: center;
}
.body-grid__buttonClr--standard--dble {
  font-family: Nunito, sans-serif;
  font-size: large;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 10px;
  width: 80%;
  height: 80%;
  padding: 0;
  width: 90%;
  height: 80%;
}
.body-grid__buttonClr--standard--dble:hover {
  background-color: rgba(242, 242, 242, 0.862745098);
}

/*# sourceMappingURL=style.css.map */
