@use "mixins" as *;
* {
    padding: 0;
    margin: 0;
}
.body-grid {
    display: grid;
    grid-template-areas:
        "out out out out"
        "seven eight nine div"
        "four five six product"
        "one two three minus"
        "nill deci plus equal"
        "bkspc clr clr equal";
    border-radius: 20px;
    background-color: #595959;
    grid-template-columns: 20vh 20vh 20vh 20vh;
    grid-template-rows: 10vw 5vw 5vw 5vw 5vw 5vw;
    margin: 3%;
    max-width: 36%;

    &__output {
        grid-area: out;
        border: 2px solid rgba(0, 0, 0, 0.186);
        border-radius: 20px;
        background-color: #cfe0cf;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
    }

    &__button7 {
        grid-area: seven;
        @include buttonspace;
        margin-left: 2%;
    }
    &__button7--standard {
        @include buttonfont;
        @include buttonstyle;

        &:hover {
            background-color: #f2f2f2dc;
        }
    }

    &__buttondivide {
        @include buttonspace;
    }
    &__buttondivide--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }

    &__button9 {
        @include buttonspace;
    }
    &__button9--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__button8 {
        @include buttonspace;
    }
    &__button8--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }

    &__button6 {
        grid-area: six;
        @include buttonspace;
    }

    &__button6--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__button5 {
        grid-area: five;
        @include buttonspace;
    }

    &__button5--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__button4 {
        grid-area: four;
        @include buttonspace;
        margin-left: 2%;
    }
    &__button4--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__button3 {
        grid-area: three;
        @include buttonspace;
    }
    &__button3--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__button2 {
        grid-area: two;
        @include buttonspace;
    }
    &__button2--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__button1 {
        grid-area: one;
        @include buttonspace;
        margin-left: 2%;
    }

    &__button1--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__button0 {
        grid-area: nill;
        @include buttonspace;
        margin-left: 2%;
    }
    &__button0--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__buttonDeci {
        grid-area: deci;
        @include buttonspace;
    }
    &__buttonDeci--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }

    &__buttonPlus {
        grid-area: plus;
        @include buttonspace;
    }
    &__buttonPlus--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__buttonMultiplication {
        grid-area: product;
        @include buttonspace;
    }
    &__buttonMultiplication--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__buttonSubtraction {
        grid-area: minus;
        @include buttonspace;
    }
    &__buttonSubtraction--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__buttonEqual {
        grid-area: equal;
        @include buttonspace;
    }

    &__buttonEqual--standard--orange {
        @include buttonfont;
        @include buttonStyleColour;
        font-size: 40px;
        &:hover {
            background-color: #fdc384d0;
        }
    }
    &__buttonBkspc {
        grid-area: bkspc;
        @include buttonspace;
        margin-left: 2%;
    }
    &__buttonBkspc--standard {
        @include buttonfont;
        @include buttonstyle;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
    &__buttonClr {
        grid-area: clr;
        @include buttonspace;
    }
    &__buttonClr--standard--dble {
        @include buttonfont;
        @include buttonstyle;
        padding-left: 10%;
        padding-top: 0;
        padding-bottom: 0;
        &:hover {
            background-color: #f2f2f2dc;
        }
    }
}
